@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}



body, html {
    font-family: "Quicksand", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #0f123f;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}


/*----------INPUT FORM ------------*/
.input-form {
  visibility:hidden;
}

.input-form-clicked {
  visibility: visible;
}

form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  position: absolute ;
  border: 1px solid black;
  width: 350px;
  padding: 25px;
  gap: 15px;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 4px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.optional {
  color: #2b2b2b;
  opacity: 0.7;
}


/*------------APP LAYOUT -------------*/
.app {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 35px 1fr;
}

.navbar{
    grid-area: 1/1/2/4;
    background-color: #0f123f;

    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 55px;
    padding-right: 55px;
}
.sidebar{
    grid-area: 2/1/3/2;
    background-color: #0f123f;
    color: white;
    padding: 5px;
    width: 80%;
}
.main-body{
grid-area: 2/2/3/3;
background-color: #f4f7fc;
border-bottom-left-radius: 15px;
border-top-left-radius: 15px;
margin-bottom: 20px;
overflow-y: scroll;
}

.right-sidebar {
  grid-area: 2/3/3/4;
  background-color: #f4f7fc;
  padding-top: 3em;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow-y: scroll;
}


/*--------------APP STYLING-------------*/
.logo{
  font-size: 31px;
  font-family: "Quicksand";
  display: flex;
  align-items: center;
  font-weight: 400;
  gap: 15px;
}
.logo>span{
  font-size: 28px;
}
.nav-buttons{
  display: flex;
  gap: 10px;
}
.nav-buttons > button {
  border: none;
color: white;
background-color: #2b2b2b00;
cursor: pointer;
}

.nav-buttons>button>span {
  font-size: 26px;
}

.top {
  margin-top: 3em;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 15px;
  justify-content: center;
}
.calendar {
  width: 50%;

  height: 175px;
  cursor: pointer;
}

.month  {

  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: #af91eb;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.day {
  font-size: 82px;
  font-family: "Roboto";
  display: flex;
  padding-top: 10px;
  padding-bottom: 15px;
  align-items:  center;
  justify-content: center;
  border: 1px solid #d4d4d4;
  box-shadow: 4px 3px 11px -3px rgba(110, 109, 109, 0.55);

  border-top: none;
  background-color: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  font-weight: 100;
}

.bot{
  display: flex;
  flex-direction: column;
}

.sidebar-logo  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-logo >span{
  font-size: 27px;
}
.sidebar-section {
  font-size: 24px;
  font-weight:700;
  font-family: "Quicksand";
  margin-bottom: 5px;
  height: 1.3em;
  gap: 15px;
  display: flex;
  border-radius: 15px;
  flex-direction: row;
align-items: center;
  transition: 0.5s cubic-bezier(.8,.12,.48,1);
  padding: 15px;
  cursor: pointer;


}

.sidebar-section:hover {
  padding-left: 1em;
  background-color: #af91eb;
}

.sidebar-section-clicked {
  padding-left: 1em;
  background-color: #af91eb;
}


.pie {
  --p:0;
  --b:22px;
  --w:24px;
  --c:#af91eb;

  width: var(--w);
  aspect-ratio: 1;
  position: relative;

  display: inline-grid;
  margin: 5px;
  place-content: center;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  animation: p 1s .5s both;

}
.pie:before,
.pie:after {
  content: "";
  position: absolute;
  border-radius: 50%;
}

.pie:before{
  content: "";
  position: absolute;
  border-radius: 50%;
  inset: 0;
  background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
}

.animate {
  animation: --p 1s .5s both;
}
@keyframes p{
  from{--p:0}
}




.projects > div > h3 {
  display: flex;
  align-items: center;
  justify-content: center;


}

.project {
  display: flex;
  border: 1px solid #f4f7fc;

  color: white;
  align-items: center;
  justify-content: space-between;
  border-radius: 7px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(.8,.12,.48,1);
}

.project:hover {
  background-color: #af91eb;
}

.projects-header{
  border-bottom: 1px solid #e4e4e4;  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  height: 3em;
}

.projects-header > button {
  border: none;
  background-color: inherit;
  text-decoration: none;
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.projects-header>button:hover {
  color: #af91eb;
}

.projects-header>h3{
  font-weight: 600;
}

.project-form {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 10px;
  visibility: collapse;
  transition: 0.5s;
}

.project-form >input {
  height: 24px;
  width: 75%;
}

.project-form >button {
  height: 24px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.act-proj-cont {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: inherit;
}

.project-clicked{
  background-color: #3c1f76;
  color: white;
}
.project-clicked > .pie-cont > .pie {
  --c:white;

}
.project-title{
  padding-left: 1em;
  font-size: 20px;
  font-weight: 800;
  width: 205px;
  overflow: hidden;
}
.project-right {
  display: flex;
  align-items: center;
  
}

.delete-project > span {
  transition: 0.5s;
}

.delete-project > span:hover {
  color: rgb(205, 0, 0);
}



.task-container {

  padding: 55px;
  display: flex;
  flex-direction: column;
  gap: 35px;

 
}
.current-section {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.current-section>button {
  border: none;
  border-radius: 50%;
  background-color: #af91eb;
  width: 4rem;
  height: 4rem;
  color: white;
  transition: 0.5s;
  cursor: pointer;
}

.current-section>button:hover {
  background-color: #9971e9;
}

.current-section>button>span {
  font-size: 3rem;
}

.mainbody-title {
  font-size: 2rem;
}

.task{
  border-bottom: 1px solid #2b2b2b53;
  border: 1px solid rgb(226, 225, 225);
  box-shadow: 4px 3px 11px -3px rgba(110, 109, 109, 0.55);
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  padding: 12px;
  justify-content: space-between;

}

.task-left, .task-right {
  display: flex;
  gap: 8px;
}


.checkbox > input[type=checkbox]{
  height: 1.25rem;
  width: 1.25rem;
  background: #0d63b9;
  border: 1px solid #94a3b8;
  border-radius: 10rem;
}

.checkbox > input[type=checkbox]::after{
  content:"";
  width: 0.3rem;
  height: 0.6rem;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  transition: background 250ms;
  transform: rotate(45deg);
}

.due-date{
  color: #2b2b2ba3;
}

.description {
  font-size: 12px;
  font-weight: 100;
}

.task-right>div>button{
background-color: white;
text-decoration: none;
border: none;
cursor: pointer;
transition: 0.5s;
}

.edit>button:hover{
  color: blue;
}

.delete > button:hover {
  color: red;
}

.calendar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar  {
  width: 13em;
}

.upcoming-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2em;
  gap: 10px;
}
.upcoming-container>h3{
  font-weight: 200;
}

.upcoming-header {
  margin-top: 2rem;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(61, 60, 60, 0.527);
}

.upcoming-card {
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #d4d4d4;
  box-shadow: 4px 3px 11px -3px rgba(110, 109, 109, 0.55);
  width: 250px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  overflow:hidden;


}

.upcoming-card:hover {
  box-shadow: 5px 5px 11px -3px rgba(83, 83, 83, 0.75);
}

.upcoming-date {
  opacity: 0.7;
  font-size: 14px;
  padding: 10px;
}

.upcoming-name {
  font-size: 22px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 20px;

}

.upcoming-time {
  padding-bottom: 10px;
  padding-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: white;
  background-color: #af91eb;
  font-size: 18px;
  font-weight: 500;
}
